body{
    width:80vw;
    aspect-ratio: 1/1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header section"
    "article footer";
}

header{
    grid-area: header;
    background-color: blue;
}


