body{
    width:80vw;
    aspect-ratio: 1/1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "header section"
    "article footer";
}

header{
    grid-area: header;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    grid-area: section;
    background-color: burlywood;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "div adress";


    adress{
        grid-area: adress;
        background-color: coral;

        display: flex;
        justify-content: center;
        align-items: center;
    }


    div{
        grid-area: div;
        background-color: rgb(212, 255, 0);

        display: flex;
        justify-content: center;
        align-items: center;
    }

}

article{
    grid-area: article;
    background-color: brown;
}

footer{
    grid-area: footer;
    background-color: chocolate;
}